body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 65%;
}

h1 {
    font-size: 2.5em;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 50px;
}

select, button {
    margin-top: 15px;   
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

select {
    background: #333;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block; /* Ensures proper centering */
    margin: 15px auto; /* Centers it horizontally */
}

button {
    background: #ff4800;
    color: white;
}

button:hover {
    box-shadow: #ff480069 0px 0px 10px; 
}

button:active {
    transform: scale(0.95);
    background-color: #ff480069;
}

#homeBtn {
    background: #00000000;
    outline: white solid 1px;
    position: relative;
    top: 200px;
}

#homeBtn:hover {
    background: #ffffff1a;
    box-shadow: none;
}

.hidden {
    display: none;
}

p {
    font-size: 1.8em;
    margin-top: 20px;
}

#output {
    font-size: 1.8em;
    margin-top: 20px;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#output.show {
    opacity: 1;
    filter: blur(0);
}
